[defaults]
inventory             = inventory.ini
host_key_checking     = True
retry_files_enabled   = False
forks                 = 5
gathering             = smart
fact_caching          = jsonfile
fact_caching_connection = .ansible_facts
fact_caching_timeout  = 86400
stdout_callback       = default
display_skipped_hosts = False

[ssh_connection]
pipelining            = True
ssh_args              = -o ControlMaster=auto -o ControlPersist=60s
